<div class="container">
  <h1>New Cocktail</h1>
  <%= image_tag "newcocktail.jpg", alt: "Cocktail", width: 800, height:300 %>

  <%= render 'form', cocktail: @cocktail %>

  <%= link_to 'Back', cocktails_path %>
</div>
